doctype html
html
  include ./head.pug

  body

    main(class='app')

      header
        div(class='home')
          img(class='logo' src='images/logo.svg')
          h1 State-O

      section(class='center search-page')

        block content

        script(type='text/javascript' src='scripts/search.js')
        script(type='text/javascript' src='scripts/utils.js')
        script(type='text/javascript' src='libs/awesomplete/awesomplete.min.js')

        form
        fieldset
          input(class='search' type='search' autofocus)
          button(class='search-button' type='button')
            div
              span Search
                img(src='images/search.svg')


        article(class='info row')
          div(class='col-1-2 padding-right')
            h2 Why?
            p State-O aims to shed light on stated-owned enterprises and offers information in a simple searchable database. More and more public services are privatized and there are many known cases of state-owned or partially state-owned companies being involved in scandals and shady business.

          div(class='col-1-2 padding-right')
            h2 Help us!
            p Information about publicly owned companies and public private partnerships is many times hidden in PDFs published by government bodies, city councils or other public sources. Help us by a sending us data about state owned companies so we can expand State-O and build a database for SOCs all over Europe!

      section(class='center result-page')
        article(class='info result')
          h2 Something went terribly wrong. Release the kittens!

    footer
      p A prototype by #[a(href="http://br.de/data") BR Data] for the #[a(href="http://globaleditorsnetwork.org") Global Editors Hackathon] at #[a(href="http://sz.de") Süddeutsche Zeitung], 2016



