article(class='info row')
  div(class='col-1-2 padding-right')
    h2 Why?
    p State-O aims to shed light on stated-owned enterprises and offers information in a simple searchable database. More and more public services are privatized and there are many known cases of state-owned or partially state-owned companies being involved in scandals and shady business.

  div(class='col-1-2 padding-right')
    h2 Help us!
    p Information about publicly owned companies and public private partnerships is many times hidden in PDFs published by government bodies, city councils or other public sources. Help us by a sending us data about state owned companies so we can expand State-O and build a database for SOCs all over Europe!
