html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background: #334;
}

a {
  color: #4daa17;
}

header {
  background: #fff;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 4em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

header .home-button {
  cursor: pointer;
}

header .logo {
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
}

footer {
  text-align: center;
  background: #334;
  color: #fff;
  padding: 1em 2em;
}

footer a {
  color: #fff;
}

.center {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 2em;
}

form {
  margin-bottom: 3em;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input, button, label {
  font-size: 1em;
  line-height: 1em;
}

input:focus,
button:focus {
  outline: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.search,
.search-button {
  height: 2em;
  display: inline-block;
}

.search {
  width: 100%;
  padding: 0 .4em;
  border: 2px solid #ccd;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: border .2s ease;
}

.search:focus {
  border-color: #aab;
}

.search-button {
  width: 110px;
  float: right;
  color: white;
  background: #4daa17;
  border: 2px solid #4daa17;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  line-height: 1em;
  text-align: left;
  padding: 2px 6px 3px 14px;
  transition: background .2s ease, border .2s ease;
}

.search-button:hover {
  background: #3d8812;
  border-color: #3d8812;
}

.search-button div {
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-bottom;
}

.search-button span {
  margin-right: .2em;
}

.search-button img {
  width: 18px;
  vertical-align: bottom;
  margin-left: 6px;
}

.app {
  background: #fff;
}

.result-page {
  display: none;
}

li {
  color: #4daa17;
  text-decoration: underline;
  cursor: pointer;
}

.info {
  padding-bottom: 4em;
}

.info h1 {
  font-size: 2em;
}

/* Awesomplete */
[hidden] { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.awesomplete {
  display: inline-block;
  position: relative;
  width: calc(100% - 110px);
}

div.awesomplete > input {
  display: block;
}

div.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  list-style: none;
  padding: 0;
  border-radius: 4px;
  margin: .2em 0 0;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: none;
}

@supports (transform: scale(0)) {
  div.awesomplete > ul {
    transition: .3s cubic-bezier(.4,.2,.5,1.4);
    transform-origin: 1.43em -.43em;
  }

  div.awesomplete > ul[hidden],
  div.awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

div.awesomplete > ul > li {
  position: relative;
  padding: .4em .5em;
  border-radius: 4px;
  cursor: pointer;
}

div.awesomplete > ul > li[aria-selected="true"] {
  background: #4daa17;
  color: white;
}

div.awesomplete mark {
  background: #ffff00;
}

div.awesomplete li[aria-selected="true"] mark {
  background: #357610;
  color: inherit;
}

/* Grid */
.row {
  display: flex;
  flex-flow: row wrap;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="col-"] {
  width: 100%;
}

.padding-right {
  padding-right: 0;
}

@media all and (min-width: 600px) {

  /* set col widths */
  .col-3-4 {
    width: 75%;
  }

  .col-2-3 {
    width: 66.66%;
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-3 {
    width: 33.33%;
  }

  .col-1-4 {
    width: 25%;
  }

  .col-1-8 {
    width: 12.5%;
  }

  .padding-right {
    padding-right: 2em;
  }
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 360px) {

  div.awesomplete {
    width: 100%;
  }

  .search {
    border-right: 2px solid #ccd;
    border-radius: 4px;
  }

  .search-button {
    width: 100%;
    margin-top: .5em;
    text-align: center;
    border-radius: 4px;
  }

  .search-button > div {
    width: 100%;
  }
}


