doctype html
html

  include ./partials/head.pug

  body

    main(class='app')

      include ./partials/header.pug

      section(class='center')
        article(class='info result')
          h1=name
          p Test content

    include ./partials/footer.pug
