doctype html
html

  include ./partials/head.pug

  body

    main(class='app')

      include ./partials/header.pug

      section(class='center')
        article(class='info result')
          h2 Something went terribly wrong. Release the kittens!

    include ./partials/footer.pug



